packages: [
  "atom-no-tab-close-button"
  "atom-ternjs"
  "atomic-emacs"
  "auto-update-packages"
  "clipboard-plus"
  "emacs-plus"
  "emmet"
  "haskell-grammar"
  "highlight-selected"
  "language-babel"
  "language-ini"
  "language-ocaml"
  "language-thrift"
  "linter"
  "linter-eslint"
  "minimap"
  "nuclide"
  "package-sync"
  "sort-lines"
  "tool-bar"
]
